
.title__input__container
{
    display: flex;
    flex-direction: column;
    font-weight: normal;
}
.title__input__container label
{
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.title__inputbox
{
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    padding: 0.6rem;
    color: #9B959F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    outline: none;
    margin-bottom: 1.5rem;
}
.star
{
    color: #FF0000;
    margin-left: 0.1rem;
}
.priority__container
{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: normal;
    justify-content: space-evenly;
    font-weight: 450;
    margin-bottom: 1.5rem;
}
.priority__container button
{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: white;
    outline: none;
    height: 1.8rem;
    font-weight: 550;
    color: #767575;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
}
.checklist__status
{
    font-family: 'Inter';
    font-weight: 490;
    margin-bottom: 1rem;
}
.add__task__button
{
    border: none;
    background-color: white;
    color: #767575;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.18rem;
    cursor: pointer;
}
.add__task__button span
{
    font-size: 1.6rem;
}
.checklist__container
{
    max-height: 10rem;
    overflow-y: auto;
}
.checklist__item
{
    margin-bottom: 0.8rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
}
.checklist__item img
{
    cursor: pointer;
}
.checklist__checkbox
{
    height: 1.1rem;
    width: 1.1rem;
}
.checklist__inputbox
{
    width: 85%;
    font-family: 'Inter';
    color: #828282;
    font-size: 1.2rem;
    padding: 4px;
    border: none;
    outline: none;
}
.form__footer
{
    align-items: flex-end;
    position: absolute;
    bottom: 1.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date__input
{
    text-align: center;
    width: 10rem;
    border-radius: 12px;
    height: 2.8rem;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: 1px solid #E2E2E2;
    color: #707070;
    cursor: pointer;
}
.cancel__button
{
    width: 8rem;
    height: 2.8rem;
    font-size: 1.2rem;
    color: #CF3636;
    border: 1px solid #CF3636;
    font-weight: 550;
    background-color: white;
    margin-right: 1rem;
    border-radius: 12px;
    cursor: pointer;
}
.submit__button
{
    width: 8rem;
    height: 2.8rem;
    font-size: 1.2rem;
    border: none;
    background-color: #17A2B8;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}