.todo__main
{
    width: 22rem;
    background-color: #EEF2F5;
    height: calc(100vh - 9rem);
    overflow-y: auto;
    margin-right: 1rem;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.todo__container
{
    width: 90%;
    margin-top: 1rem;
}
.todo__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.header__controller
{
    display: flex;
}
.todo__heading
{
    font-weight: 510;
}
.todo__create__button
{
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.todo__minimize__button
{
    cursor: pointer;
}
.empty__box
{
    width: 4rem;
}