.card__container
{
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: 1rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}
.card__header
{
    color:#707070;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    position: relative;
}
.card__dropdown
{
    font-size: 1.6rem;
    cursor: pointer;
}
.card__dropdown__menu
{
    position: absolute;
    height: 4rem;
    width: 8rem;
    background-color: white;
    border: 1px solid #707070;
    padding: 2px;
    top:100%;
    right: 0;
}
.card__title
{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 510;
}
.checklist__container
{
    margin-top: 1rem;
    font-weight: 510;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}
.card__checklist
{

    height: 1.5rem;
    border-radius: 12px;
    border: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.card__checklist input
{
    height: 1.1rem;
    width: 1.1rem;
}

.card__footer
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.card__footer__controls
{
    display: flex;
}
.toggle__button
{
    cursor: pointer;
}
.category__button
{
    border: 1px solid #707070;
    cursor: pointer;
    margin-right: 5px;
}